{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block title %}{{ store.name }}Livara Accessories{% endblock %}

{% block css %}
	<link href="{% static 'plugins/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/bootstrap-table/dist/bootstrap-table.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block js %}
	<script src="{% static 'plugins/@highlightjs/cdn-assets/highlight.min.js' %}"></script>
	<script src="{% static 'js/demo/highlightjs.demo.js' %}"></script>
	<script src="{% static 'plugins/datatables.net/js/dataTables.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>
	<script src="{% static 'plugins/bootstrap-table/dist/bootstrap-table.min.js' %}"></script>
	<script src="{% static 'js/demo/table-plugins.demo.js' %}"></script>
	<script src="{% static 'js/demo/sidebar-scrollspy.demo.js' %}"></script>
{% endblock %}
{% block content %}

<div class="d-flex align-items-center mb-3">
    <div>
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">MAIN STORE</a></li>
            <li class="breadcrumb-item active">ACCESSORIES STORE</li>
        </ul>
        <h5>Inventory for all Livara Accessories</h5>
    </div>
    
   
</div>
<div class="mb-md-4 mb-3 d-md-flex">
    <div class="mt-md-0 mt-2"><a href="{% url 'create_new_accessory' %}" class="text-inverse text-opacity-75 text-decoration-none"><i class="fa fa-download fa-fw me-1 text-theme"></i> New Accessory</a></div>
    <div class="ms-md-4 mt-md-0 mt-2"><a href="{% url 'main_store_accessory_requisitions_list' %}" class="text-inverse text-opacity-75 text-decoration-none"><i class="bi bi-body-text fa-fw me-1 text-theme"></i> All Accessory Requisitions</a></div>
    
</div>

{% if accessory_inventory %}
<table id="datatableDefault" class="table text-nowrap w-100">
    
  <thead>
    <tr>
        <th>#</th>
        <th>Accessory Name</th>
        <th>Description</th>
        <th>Price(UGX)</th>
        <th>Qty in Store</th>
        <th>Last Updated</th>
        <th>Low Stock Status</th>
    </tr>
  </thead>
  <tbody>
    {% for inventory_item in accessory_inventory %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ inventory_item.accessory.name }}</td>
        <td>{{ inventory_item.accessory.description|truncatechars:40 }}</td>
        <td>{{ inventory_item.accessory.price|floatformat|intcomma }}</td>
        <td>{{ inventory_item.quantity }}</td>
        <td>{{ inventory_item.last_updated|date:"Y-m-d H:i" }}</td>
        <td>
            {% if inventory_item.is_low_stock %}
                <span style="color: red;">Low Stock</span>
            {% else %}
                <span style="color: green;">In Stock</span>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No inventory found.</p>
{% endif %}
{% endblock content %}
