{% extends 'base.html' %}

{% load static %}

{% block title %}Starter Page{% endblock %}
{% block css %}
	<link href="{% static 'plugins/tag-it/css/jquery.tagit.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/bootstrap-slider/dist/css/bootstrap-slider.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/blueimp-file-upload/css/jquery.fileupload.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/summernote/dist/summernote-lite.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/spectrum-colorpicker2/dist/spectrum.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/select-picker/dist/picker.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/jquery-typeahead/dist/jquery.typeahead.min.css' %}" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block js %}
    <!-- jQuery (needed for Select2) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Select2 JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0/js/select2.min.js"></script>

	<script src="{% static 'plugins/jquery-migrate/dist/jquery-migrate.min.js' %}"></script>
	<script src="{% static 'plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
	<script src="{% static 'plugins/moment/min/moment.min.js' %}"></script>
	<script src="{% static 'plugins/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
	<script src="{% static 'plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js' %}"></script>
	<script src="{% static 'plugins/bootstrap-slider/dist/bootstrap-slider.min.js' %}"></script>
	<script src="{% static 'plugins/jquery-typeahead/dist/jquery.typeahead.min.js' %}"></script>
	<script src="{% static 'plugins/jquery.maskedinput/src/jquery.maskedinput.js' %}"></script>
	<script src="{% static 'plugins/tag-it/js/tag-it.min.js' %}"></script>
	<script src="{% static 'plugins/blueimp-file-upload/js/vendor/jquery.ui.widget.js' %}"></script>
	<script src="{% static 'plugins/blueimp-tmpl/js/tmpl.min.js' %}"></script>
	<script src="{% static 'plugins/blueimp-load-image/js/load-image.all.min.js' %}"></script>
	<script src="{% static 'plugins/blueimp-canvas-to-blob/js/canvas-to-blob.min.js' %}"></script>
	<script src="{% static 'plugins/blueimp-gallery/js/jquery.blueimp-gallery.min.js' %}"></script>
	<script src="{% static 'plugins/blueimp-file-upload/js/jquery.iframe-transport.js' %}"></script>
	<script src="{% static 'plugins/blueimp-file-upload/js/jquery.fileupload.js' %}"></script>
	<script src="{% static 'plugins/blueimp-file-upload/js/jquery.fileupload-process.js' %}"></script>
	<script src="{% static 'plugins/blueimp-file-upload/js/jquery.fileupload-image.js' %}"></script>
	<script src="{% static 'plugins/blueimp-file-upload/js/jquery.fileupload-audio.js' %}"></script>
	<script src="{% static 'plugins/blueimp-file-upload/js/jquery.fileupload-video.js' %}"></script>
	<script src="{% static 'plugins/blueimp-file-upload/js/jquery.fileupload-validate.js' %}"></script>
	<script src="{% static 'plugins/blueimp-file-upload/js/jquery.fileupload-ui.js' %}"></script>
	<script src="{% static 'plugins/summernote/dist/summernote-lite.min.js' %}"></script>
	<script src="{% static 'plugins/spectrum-colorpicker2/dist/spectrum.min.js' %}"></script>
	<script src="{% static 'plugins/select-picker/dist/picker.min.js' %}"></script>
	<script src="{% static 'plugins/@highlightjs/cdn-assets/highlight.min.js' %}"></script>
	<script src="{% static 'js/demo/highlightjs.demo.js' %}"></script>
	<script src="{% static 'js/demo/form-plugins.demo.js' %}"></script>
	<script src="{% static 'js/demo/sidebar-scrollspy.demo.js' %}"></script>
{% endblock %}

{% block content %}
<div class="d-flex align-items-center mb-3">
    <div>
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">RAW MATERIALS</a></li>
            <li class="breadcrumb-item active">ADD RAW MATERIALS</li>
        </ul>
        
        <h1 class="page-header">
            Add Raw Material <small>Get started</small>
            <a href="{% url 'upload_raw_materials' %}">
                <button class="btn btn-sm btn-outline-theme float-end">Assign</button>
            </a>
        </h1>
        <h6>For Bulk Uploads<span class="text-theme"> Download </span><a href="{% url 'download_example_csv' %}">raw_material_bulk_upload csv</a></h6>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ bulk_form.as_p }}
                <button class="btn btn-outline-theme" type="submit" name="bulk_upload">Upload CSV</button>
            </form>
    </div>
    <div class="ms-auto">
        
    </div>
        
</div>
<div class="card">
    <div class="card-body pb-2">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group mb-3">
                        <label class="form-label" for="first_name">Name of Raw Material</label>
                        {{form.name}}
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label" for="last_name">Supplier:</label>
                        {{form.supplier}}
                    </div>
                    <div>
                        <label class="form-label" for="sex">Quantity in Stock</label>
                        {{form.quantity}}
                    </div>
                    <div>
                        <label class="form-label" for="sex">Measurement Units</label>
                        {{ form.unit_measurement}}
                    </div>
                
                </div>
                <div class="col-xl-6">
                    <div class="form-group mb-3">
                        <label class="form-label" for="location">Re-Order Point</label>
                        {{form.reorder_point}}
                    </div>
                </div>
            </div>
            <div class="ms-auto mt-5">
                <button type="submit" class="btn btn-outline-theme me-2">Add Raw Material</button>
            </div>
            
        </form>
    </div>
    <div class="card-arrow">
        <div class="card-arrow-top-left"></div>
        <div class="card-arrow-top-right"></div>
        <div class="card-arrow-bottom-left"></div>
        <div class="card-arrow-bottom-right"></div>
    </div>
    <script>
        $(document).ready(function() {
            $('.select2').select2({
                placeholder: 'Select a supplier',
                width: '100%'  // Adjust as needed
            });
        });
    </script>

</div>
{% endblock %}
{% block outter_content %}

{% if form.errors %}
    <div class="toasts-container">
        <div class="toast fade show">
            <div class="toast-header">
                <i class="far fa-bell text-muted me-2"></i>
                <strong class="me-auto">Form Validation Error</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
            </div>
            <div class="toast-body">
                {% for field, error_msgs in form.errors.items %}
                    {% for error_msg in error_msgs %}
                    <ul>
                        <li>{{ error_msg }}</li>
                    </ul>
                        
                        <br>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}

{% endblock outter_content %}