{% extends 'base.html' %}

{% load static %}

{% block title %}Production Order Approval{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr/latest/toastr.min.css">
    <link href="{% static 'plugins/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/bootstrap-table/dist/bootstrap-table.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block js %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'plugins/@highlightjs/cdn-assets/highlight.min.js' %}"></script>
    <script src="{% static 'js/demo/highlightjs.demo.js' %}"></script>
    <script src="{% static 'plugins/datatables.net/js/dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'plugins/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'plugins/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'plugins/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-table/dist/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'js/demo/table-plugins.demo.js' %}"></script>
    <script src="{% static 'js/demo/sidebar-scrollspy.demo.js' %}"></script>
{% endblock %}
{% block content %}
    
        <!-- BEGIN container -->
        <div class="container">
            <!-- BEGIN row -->
            <div class="row justify-content-center">
                <!-- BEGIN col-10 -->
                <div class="col-xl-12">
                    <!-- BEGIN row -->
                    <div class="row">
                        <!-- BEGIN col-9 -->
                        <div class="col-xl-9">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">PRODUCTS</a></li>
                                <li class="breadcrumb-item active">APPROVE PRODUCTION ORDER</li>
                            </ul>
                            
                            <h1 class="page-header">
                                APPROVE ORDER <small>page header description goes here...</small>
                            </h1>
                            
                            <hr class="mb-4">
                            
                            <!-- BEGIN #datatable -->
                            
                            <h1>Approve Production Order</h1>

                            {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                        <li {% if message.tags == 'error' %}class="error"{% endif %}>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            <form method="post">
                                {% csrf_token %}
                                <p>Requested Quantity: {{ production_order.quantity }}</p>
                                <label for="approved_quantity">Approved Quantity:</label>
                                <p class="text-danger">Approve how many products will be able to produced.</p>
                                <input class="form-control" type="number" name="approved_quantity" id="approved_quantity">
                                <button class="btn btn-dark mt-4" type="submit">Approve Order</button>
                            </form>

                            <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr/latest/toastr.min.js"></script>
                            <script>
                                $(document).ready(function() {
                                    // Check for error message in a hidden form field (optional)
                                    if ($('#error_message').val()) {
                                        toastr.error($('#error_message').val());
                                    }
                                });
                            </script>
                        
                        
                        
                                
                            <!-- END #datatable -->
                        </div>
                        <!-- END col-9-->
                        <!-- BEGIN col-3 -->
                        <div class="col-xl-3">
                            <!-- BEGIN #sidebar-bootstrap -->
                            <nav id="sidebar-bootstrap" class="navbar navbar-sticky d-none d-xl-block">
                                <nav class="nav">
                                    <a class="nav-link active" href="{% url 'createProduct' %}">Create Production Order</a>
                                    <a class="nav-link" href="{% url 'productionList' %}">Production Order List</a>
                                </nav>
                            </nav>
                            <!-- END #sidebar-bootstrap -->
                        </div>
                        <!-- END col-3 -->
                    </div>
                    <!-- END row -->
                </div>
                <!-- END col-10 -->
            </div>
            <!-- END row -->
        </div>
        <!-- END container -->
        
{% endblock %}
