{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block title %}Debit Notes{% endblock %}

{% block css %}
	
	<link href="{% static 'plugins/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/bootstrap-table/dist/bootstrap-table.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block js %}
	<script src="{% static 'plugins/jvectormap-next/jquery-jvectormap.min.js' %}"></script>
	<script src="{% static 'plugins/jvectormap-content/world-mill.js' %}"></script>
	<script src="{% static 'plugins/apexcharts/dist/apexcharts.min.js' %}"></script>
	<script src="{% static 'js/demo/dashboard.demo.js' %}"></script>
	<script src="{% static 'plugins/@highlightjs/cdn-assets/highlight.min.js' %}"></script>
	<script src="{% static 'js/demo/highlightjs.demo.js' %}"></script>
	<script src="{% static 'plugins/datatables.net/js/dataTables.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>
	<script src="{% static 'plugins/bootstrap-table/dist/bootstrap-table.min.js' %}"></script>
	<script src="{% static 'js/demo/table-plugins.demo.js' %}"></script>
	<script src="{% static 'js/demo/sidebar-scrollspy.demo.js' %}"></script>
{% endblock %}

{% block content %}
<div class="d-flex align-items-center mb-3">
	<div>
		<ul class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">GOODS RECIEVED NOTES</a></li>
			<li class="breadcrumb-item active">DEBIT NOTES</li>
		</ul>
		<h4 class="mb-0">Production Debit Notes</h4>
	</div>
</div>

<!-- BEGIN table -->
<div class="table-responsive">
    <table id="datatableDefault" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Dbt Note No.</th>
                <th>Created at</th>
                <th>Discrepancy Rpt.</th>
                <th>Amount (UGX)</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            {% for debit_note in debit_notes %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ debit_note.debit_note_number }}</td>
                <td>{{ debit_note.date_created }}</td>
                <td>
                    <a href="{% url 'discrepancy_delivery_report_detail' debit_note.discrepancy_report.id %}">
                        {{ debit_note.discrepancy_report }}
                    </a>
                </td>
                <td>{{ debit_note.total_deducted_amount|floatformat:0|intcomma }}</td>
                <td>
                    <a href="{% url 'debit_note_details' debit_note.id %}"><i class="bi bi-eye"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- END table -->

{% endblock %}

{% block outter_content %}
{% if messages %}
    <div class="toasts-container">
        {% for message in messages %}
            <div class="toast fade show">
                <div class="toast-header">
                    <i class="far fa-bell text-muted me-2"></i>
                    <strong class="me-auto">Info</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
                </div>
                <div class="toast-body">
                    <p>{{ message }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock outter_content %}
