{% extends 'base.html' %}

{% load static %}

{% block title %}Store Sale Invoices{% endblock %}

{% block css %}
	<link href="{% static 'plugins/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/bootstrap-table/dist/bootstrap-table.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block js %}
	<script src="{% static 'plugins/@highlightjs/cdn-assets/highlight.min.js' %}"></script>
	<script src="{% static 'js/demo/highlightjs.demo.js' %}"></script>
	<script src="{% static 'plugins/datatables.net/js/dataTables.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>
	<script src="{% static 'plugins/bootstrap-table/dist/bootstrap-table.min.js' %}"></script>
	<script src="{% static 'js/demo/table-plugins.demo.js' %}"></script>
	<script src="{% static 'js/demo/sidebar-scrollspy.demo.js' %}"></script>
{% endblock %}

{% block content %}
    <!-- BEGIN page-header -->
	<div class="d-flex align-items-center mb-3">
		<div>
			<ul class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">PAGES</a></li>
				<li class="breadcrumb-item active">SALE INVOICES</li>
			</ul>
			<h1 class="page-header mb-0">Store Sale Invoices</h1>
		</div>
        
		
	</div>
	
	
	<div id="datatable" class="mb-5">
		
		<p>Normal Payment duration is 45 days</p>
		<div class="card">
			<div class="card-body text-center">
				<table id="datatableDefault" class="table text-nowrap table-responsive">
					<thead>
						<tr class="align-middle">
							<th class="border-top-0 pt-0 pb-2">#</th>
							<th class="border-top-0 pt-0 pb-2">Customer</th>
							<th class="border-top-0 pt-0 pb-2">Date ordered</th>
                            <th class="border-top-0 pt-0 pb-2">Order Status</th>
							<th class="border-top-0 pt-0 pb-2">Order Date</th>
                        
                
							<th class="border-top-0 pt-0 pb-2">Withhold 6%:</th>
							
                            <th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for sale_order in sale_orders %}
						<tr class="align-start">
							<td class="align-middle">{{forloop.counter}}</td>
							<td class="text-truncate"><span class="col-5 text-truncate">{{ sale_order.customer.first_name }}</span></td>
							<td class="align-middle">{{ sale_order.sale_date }}</td>
							<td class="align-middle"><span class="badge {% if sale_order.status == 'ordered' %}border border-warning text-warning{% elif sale_order.status == 'paid' %}border border-success text-success{% elif sale_order.status == 'delivered' %}border border-primary text-primary{% else %}bg-white text-dark{% endif %} px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center"><i class="fa fa-circle fs-9px fa-fw me-5px"></i> {{ sale_order.get_status_display }} </span></td>
							<td class="align-middle">
                                <ul class="list-group w-auto">
                                    {% for sale_item in sale_order.saleitem_set.all %}
                                    
                                        <li class="list-group-item">
                                            
                                            <div class="flex-fill px-3">
                                            <div class="fw-bold">{{ sale_item.product.product.product_name }} -{{ sale_item.quantity }} units</div>
                                            
                                        </li>
                                        </div>
                                    
                                    {% endfor %}
                                </ul>
							</td>
                            <td>
                                {% if sale_order.status == 'delivered' %}
                                    <form method="post" action="{% url 'pay_order_status' sale_order.pk %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="order_id" value="{{ sale_order.pk }}">
                                        <button type="submit" class="btn btn-sm btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Confirm receipt of payment">Mark as Paid</button>
                                    </form>
                                    
                                    {% elif sale_order.status == 'ordered' %}
                                        <span class="text-primary">Waiting for Delivery</span>
                                    {% elif sale_order.status == 'paid' %}
                                        <span class="text-success">Order is Paid</span>
                                {% endif %}
                            </td>
                            <td>
								<a href="{% url 'store_sale_order_details' sale_order.pk %}"><i class="fa fa-eye text-theme" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Click to preview"></i></a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
                    
				</table>
			</div>
			<div class="card-arrow">
				<div class="card-arrow-top-left"></div>
				<div class="card-arrow-top-right"></div>
				<div class="card-arrow-bottom-left"></div>
				<div class="card-arrow-bottom-right"></div>
			</div>
			
		</div>
	</div>
	
	<!-- BEGIN container -->
	
	<!-- END container -->
{% endblock %}
{% block outter_content %}

{% if messages %}
    <div class="toasts-container">
        {% for message in messages %}
            <div class="toast fade show">
                <div class="toast-header">
                    <i class="far fa-bell text-muted me-2"></i>
                    <strong class="me-auto">Finance Approval</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
                </div>
                <div class="toast-body">
                    <p>{{ message }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

{% if form.errors %}  {% endif %}

{% endblock outter_content %}