{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block title %}{{ store.name }}Livara Store Sales{% endblock %}

{% block css %}
	<link href="{% static 'plugins/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/bootstrap-table/dist/bootstrap-table.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block js %}
	<script src="{% static 'plugins/@highlightjs/cdn-assets/highlight.min.js' %}"></script>
	<script src="{% static 'js/demo/highlightjs.demo.js' %}"></script>
	<script src="{% static 'plugins/datatables.net/js/dataTables.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>
	<script src="{% static 'plugins/bootstrap-table/dist/bootstrap-table.min.js' %}"></script>
	<script src="{% static 'js/demo/table-plugins.demo.js' %}"></script>
	<script src="{% static 'js/demo/sidebar-scrollspy.demo.js' %}"></script>
{% endblock %}
{% block content %}

<div class="d-flex align-items-center mb-3">
    <div>
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">STORE</a></li>
            <li class="breadcrumb-item active">STORE SALES</li>
        </ul>
        <h5>Service Sales Accross Livara Salons</h5>
        <a href="{% url 'all_payment_receipts_view' %}" type="button" class="btn btn-sm btn-outline-theme">
            <i class="fas fa-receipt"></i> View All Payments
        </a>
    </div>
    
        
    
</div>


<table id="datatableDefault" class="table text-nowrap table-striped">
    <thead>
      <tr>
        <th>Store</th>
        <th>Service Name</th>
        <th>Customer</th>
        <th>Total Price (UGX)</th>
        <th>Paid Status</th>
        <th>Sale Date</th>
        <th>view</th>
    
      </tr>
    </thead>
    <tbody>
      {% for sale in sales %}
      
      <tr>
        <td>{{ sale.store }}</td>
        <td>
        {% for service_item in sale.service_sale_items.all %}
            <li class="list-group-item">{{ service_item.service.service.name }}<span class="badge rounded-circle bg-dark">{{ service_item.quantity }}</span></li>
          {% endfor %}
        </td>
        <td>{{ sale.customer }}</td>
       
        <td>{{ sale.total_amount|floatformat|intcomma }}</td>
        <td>
            {% if sale.paid_status == 'not_paid' %}
            <span class="badge bg-danger">Not Paid</span>
            {% elif sale.paid_status == 'partial_paid' %}
            <span class="badge bg-warning">Partial Paid</span>
            {% elif sale.paid_status == 'paid' %}
            <span class="badge bg-success">Paid</span>
            {% endif %}
        </td>
        <td>{{ sale.sale_date|date:"M d, Y" }}</td>
        <td>
          <a href="{% url 'service_sale_details' sale.id %}">
            <i class="fas fa-eye"></i>
          </a>
        </td>
        
      </tr>
      {% empty %}
      <tr>
        <td colspan="6">No service sales found for this store.</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock content %}
{% block outter_content %}


{% endblock outter_content %}
