{% extends 'base.html' %}

{% load static %}

{% block title %}Store Sales{% endblock %}

{% block css %}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evSXhkEG3fnSPtD/vzlLXLzxhHN2vCQhLgyXHCXRogZWLIlW9YzLiIACD4lw4f" crossorigin="anonymous">
    
	<link href="{% static 'plugins/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/bootstrap-table/dist/bootstrap-table.min.css' %}" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />

{% endblock %}

{% block js %}
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-OgqygLbv4cUlsLq5csaz7sIA2vRW5vfuUihATsNJz3KU779zKLvZkIyKXqQ3zB" crossorigin="anonymous"></script>
	<script src="{% static 'plugins/@highlightjs/cdn-assets/highlight.min.js' %}"></script>
	<script src="{% static 'js/demo/highlightjs.demo.js' %}"></script>
	<script src="{% static 'plugins/datatables.net/js/dataTables.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>
	<script src="{% static 'plugins/bootstrap-table/dist/bootstrap-table.min.js' %}"></script>
	<script src="{% static 'js/demo/table-plugins.demo.js' %}"></script>
	<script src="{% static 'js/demo/sidebar-scrollspy.demo.js' %}"></script>
	<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
{% endblock %}

{% block content %}
    <!-- BEGIN page-header -->

<div class="container">
	<div class="row justify-content-center">
		<div class="col-xl-12">
			<div class="row">
				<div class="">
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">STORE ORDERS</a></li>
						<li class="breadcrumb-item active">ALL ORDERS</li>
					</ul>
					
					<div class="ms-auto">
						<a href="{% url 'SaleTest' %}" class="btn btn-outline-theme me-2">Create New Store Sale</a>
					</div>
					
					<hr class="mb-4">

					<!-- BEGIN #datatable -->
					<div class="table-responsive text-nowrap">
						<div class="card">
							<div class="card-body">
								<table id="datatableDefault" class="table text-nowrap w-100 table-responsive">
									<thead>
										<tr class="align-middle">
											<th class="border-top-0 pt-0 pb-2">#</th>
											<th class="border-top-0 pt-0 pb-2 ">Customer</th>
											<th class="border-top-0 pt-0 pb-2">Date</th>
											<th class="border-top-0 pt-0 pb-2">Status</th>
											<th class="border-top-0 pt-0 pb-2">Products</th>
										
								
											<th class="border-top-0 pt-0 pb-2">Delivery Status</th>
											<th class="align-middle border-top-0 pt-0 pb-2">View</th>
											
										</tr>
									</thead>
									<tbody>
										{% for sale_order in sale_orders %}
										<tr class="align-middle">
											<td class="align-middle">{{forloop.counter}}</td>
											<td class="ext-truncate"><span class="col-5 text-truncate">{{ sale_order.customer.first_name }}</span></td>
											<td class="align-middle col-sm-1">{{ sale_order.sale_date }}</td>
											<td class="col-1 align-middle"><span class="badge {% if sale_order.status == 'ordered' %}border border-warning text-warning{% elif sale_order.status == 'paid' %}border border-success text-success{% elif sale_order.status == 'delivered' %}border border-primary text-primary{% else %}bg-white text-dark{% endif %} px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center"><i class="fa fa-circle fs-9px fa-fw me-5px"></i> {{ sale_order.get_status_display }} </span></td>
											<td class="align-middle span-1">
												<ul class="list-group">
													{% for sale_item in sale_order.saleitem_set.all %}
													<li class="list-group-item">{{ sale_item.product.product.product_name }} -{{ sale_item.quantity }} units</li>
													{% endfor %}
												</ul>
											</td class="align-middle">
											<td>
												{% if sale_order.status == 'ordered' %}
													<form method="post" action="{% url 'update_order_status' sale_order.pk %}">
														{% csrf_token %}
														<input type="hidden" name="order_id" value="{{ sale_order.pk }}">
														<button type="submit" class="btn btn-sm btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Confirm goods have reached customer">Delivered</button>
													</form>
													
													{% elif sale_order.status == 'delivered' %}
														<span class="text-success">Waiting for Payment</span>
													{% elif sale_order.status == 'paid' %}
														<span class="text-success">Order is Paid</span>
												{% endif %}
											</td>
											
											<td class="col-1 align-middle">
												
                                                    <a href="{% url 'store_sale_order_details' sale_order.pk %}"><i class="fa fa-eye text-theme" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Click to preview"></i></a>
													
                                                
											</td>
											
											
										</tr>
										{% endfor %}
									</tbody>
									
								</table>
							</div>
							<div class="card-arrow">
								<div class="card-arrow-top-left"></div>
								<div class="card-arrow-top-right"></div>
								<div class="card-arrow-bottom-left"></div>
								<div class="card-arrow-bottom-right"></div>
							</div>
							
						</div>
					</div>
				</div>
				<!-- END col-9-->
				
			</div>
		</div>
	</div>
</div>

	<!-- BEGIN container -->
	
	<!-- END container -->
{% endblock %}
{% block outter_content %}
<script>
$('#datatableDefault').DataTable({
	dom: "<'row mb-3'<'col-sm-4'l><'col-sm-8 text-end'<'d-flex justify-content-end'fB>>>t<'d-flex align-items-center mt-3'<'me-auto'i><'mb-0'p>>",
	lengthMenu: [ 10, 20, 30, 40, 50 ],
	responsive: true,
	buttons: [ 
	{ extend: 'print', className: 'btn btn-default' },
	{ extend: 'csv', className: 'btn btn-default' }
	]
});
</script>

{% if messages %}
    <div class="toasts-container">
        {% for message in messages %}
            <div class="toast fade show">
                <div class="toast-header">
                    <i class="far fa-bell text-muted me-2"></i>
                    <strong class="me-auto">Store Order Status</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
                </div>
                <div class="toast-body">
                    <p>{{ message }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

{% if form.errors %}  {% endif %}

{% endblock outter_content %}