{% extends 'base.html' %}

{% block title %}Livara Main Store Inventory{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex align-items-center mb-3">
		<div>
			<ul class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">STORE</a></li>
				<li class="breadcrumb-item active">MAIN STORE INVENTORY</li>
			</ul>
			<h1 class="page-header mb-0">Products in Store</h1>
		</div>
		
	</div>
	
	<div class="mb-md-4 mb-3 d-md-flex">
		<div class="mt-md-0 mt-2"><a href="{% url 'livara_main_store_inventory' %}" class="{% if request.resolver_match.url_name == 'livara_main_store_inventory' %}text-theme{% else %}text-inverse{% endif %} text-decoration-none"><i class="fa fa-list fa-fw me-1 text-theme"></i>Livara Main Store</a></div>
        <div class="ms-md-4 mt-md-0 mt-2"><a href="{% url 'main_store_writeoff_list' %}" class="{% if request.resolver_match.url_name == 'main_store_writeoff_list' %}text-theme{% else %}text-inverse{% endif %} text-decoration-none"><i class="bi bi-x-circle fa-fw me-1 text-red"></i> Inventory Write Offs</a></div>
        <div class="ms-md-4 mt-md-0 mt-2"><a href="{% url 'main_stock_transfer' %}" class="{% if request.resolver_match.url_name == 'main_stock_transfer' %}text-theme{% else %}text-inverse{% endif %} text-decoration-none"><i class="bi bi-plus-circle fa-fw me-1 text-theme"></i> Inventory Transfers</a></div>

	</div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product</th>
                <th scope="col">Batch Number</th>
                <th scope="col">Quantity</th>
                <th scope="col">Expiry Date</th>
            </tr>
        </thead>
        <tbody>
            {% for item in main_store_inventory %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ item.product.product.product_name }}</td>
                <td>{{ item.batch_number }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.expiry_date }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No inventory items found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}