{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% load custom_filters %}

{% block title %}LPO Details{% endblock %}

{% block content %}
<div class="mb-md-4 mb-3 d-md-flex">
    <div class="mt-md-0 mt-2"><button class="btn btn-secondary btn-sm" onclick="printSpecificSection()"><i class="fa fa-download fa-fw me-1 text-theme"></i> Print Requisition</button></div>
    
</div>
<div class="container" id="print-section">
    <h5>Purchase Order Details: {{ lpo.requisition.requisition_no }}</h5>
    <table class="table table-bordered">
        <tr>
            <th>Requisition Number</th>
            <td>{{ lpo.requisition.requisition_no }}</td>
        </tr>
        <tr>
            <th>Created At</th>
            <td>{{ lpo.created_at }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>
                <span class="badge 
                    {% if lpo.status == 'pending' %}
                        border border-warning text-warning 
                    {% elif lpo.status == 'verified' %} 
                        border border-success text-success
                    {% elif lpo.status == 'rejected' %} 
                        border border-primary text-primary
                    {% else %}
                        bg-white text-dark
                    {% endif %} 
                    px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center">
                    <i class="fa fa-circle fs-9px fa-fw me-5px"></i> {{ lpo.status }}
                </span>
            </td>
        </tr>
        <tr>
            <th>Payment Option</th>
            <td>{{ lpo.payment_option }}</td>
        </tr>
        <tr>
            <th>Payment Duration</th>
            <td>{{ lpo.payment_duration }} Days</td>
        </tr>
        <tr>
            <th>PO is Paid ?</th>
            <td>
                {% if lpo.outstanding_balance > 0 %}
                <p>Outstanding Balance: <span class="text-danger">{{ lpo.outstanding_balance }}</span></p><a href="{% url 'pay_lpo' lpo.id %}" class="btn btn-sm btn-success">Pay Now</a>
                {% else %}
                <p>PO PAID:</p>
                    
                {% endif %}
                
                
            </td>
        </tr>
        <tr>
            <th>Requisition Items</th>
            <td><table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Raw Material</th>
                        <th>Quantity Requested</th>
                        <th>Price per Unit</th>
                        <th>Total Cost</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in lpo.requisition.requisitionitem_set.all %}
                    <tr>
                        <td>{{ item.raw_material.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.price_per_unit|floatformat:2 }}</td>
                        <td>{{ item.quantity|multiply:item.price_per_unit|floatformat|intcomma}} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table></td>
        </tr>
        <tr>
            <th>Quotation</th>
            <td>
                {% if lpo.quotation_document %}
                    <a href="{{ lpo.quotation_document.url }}" target="_blank">View Attachment</a>
                    <br><br>
                    <!-- PDF Preview -->
                    {% if lpo.quotation_document.url|is_pdf %}
                        <embed src="{{ lpo.quotation_document.url }}" type="application/pdf" width="50%" height="50px" />
                    {% elif lpo.quotation_document.url|is_image %}
                        <img src="{{ lpo.quotation_document.url }}" alt="Attachment Image" style="max-width: 50%; height: auto;" />
                    {% endif %}
                    
                {% else %}
                    No attachment uploaded.
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Invoice</th>
            <td>
                {% if lpo.invoice_document %}
                    <a href="{{ lpo.invoice_document.url }}" target="_blank">View Attachment</a>
                    <br><br>
                    <!-- PDF Preview -->
                    {% if lpo.invoice_document.url|is_pdf %}
                        <embed src="{{ lpo.invoice_document.url }}" type="application/pdf" width="100%" height="600px" />
                    {% elif lpo.invoice_document.url|is_image %}
                        <img src="{{ lpo.invoice_document.url }}" alt="Attachment Image" style="max-width: 100%; height: auto;" />
                    {% endif %}
                    
                {% else %}
                    No attachment uploaded.
                {% endif %}
            </td>
        </tr>
    </table>
    <a href="{% url 'lpos_list' %}" class="btn btn-primary">Back to LPO List</a>
</div>
{% endblock %}
{% block outter_content %}
<script>
    function printSpecificSection() {
        // Get the content to print
        var printContents = document.getElementById('print-section').innerHTML;

        // Open a new window for the print
        var originalContents = document.body.innerHTML;

        // Set the body to only contain the print content
        document.body.innerHTML = printContents;

        // Trigger the print dialog
        window.print();

        // Restore the original content after printing
        document.body.innerHTML = originalContents;
    }
</script>
{% endblock outter_content %}
