{% extends 'base.html' %}

{% load static %}

{% block title %}Tranfers to Livara Main Store{% endblock %}

{% block css %}
	<link href="{% static 'plugins/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/bootstrap-table/dist/bootstrap-table.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block js %}
	<script src="{% static 'plugins/@highlightjs/cdn-assets/highlight.min.js' %}"></script>
	<script src="{% static 'js/demo/highlightjs.demo.js' %}"></script>
	<script src="{% static 'plugins/datatables.net/js/dataTables.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>
	<script src="{% static 'plugins/bootstrap-table/dist/bootstrap-table.min.js' %}"></script>
	<script src="{% static 'js/demo/table-plugins.demo.js' %}"></script>
	<script src="{% static 'js/demo/sidebar-scrollspy.demo.js' %}"></script>
{% endblock %}

{% block content %}
    <!-- BEGIN page-header -->
	<div class="d-flex align-items-center mb-3">
		<div>
			<ul class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">INVENTORY TRANSFERS</a></li>
				<li class="breadcrumb-item active">LIVARA MAIN STORE</li>
			</ul>
			<h5>Inventory Tranfers for Main Store and Salon Branches</h5>
		</div>
		
	   
	</div>
	<div class="mb-md-4 mb-3 d-md-flex">
		<div class="mt-md-0 mt-2"><a href="{% url 'main_stock_transfer' %}" class="{% if request.resolver_match.url_name == 'main_stock_transfer' %}text-theme{% else %}text-inverse{% endif %} text-decoration-none"><i class="bi bi-folder-fill fa-fw me-1 text-theme"></i> Main Store Transfers</a></div>
		<div class="ms-md-4 mt-md-0 mt-2"><a href="{% url 'restockRequests' %}" class="{% if request.resolver_match.url_name == 'restockRequests' %}text-theme{% else %}text-inverse{% endif %} text-decoration-none"><i class="bi bi-folder-fill fa-fw me-1 text-theme"></i> Salon Transfers</a></div>
		<div class="ms-md-4 mt-md-0 mt-2"><a href="{% url 'detailed_inventory_report' %}" class="{% if request.resolver_match.url_name == 'detailed_inventory_report' %}text-theme{% else %}text-inverse{% endif %} text-decoration-none"><i class="bi bi-folder-fill fa-fw me-1 text-theme"></i> MainStore Transfer Report</a></div>
		
	</div>
<div class="container">
	<div class="row justify-content-center">
		<div class="col-xl-12">
			<div class="row">
				<div class="">
					{% if user_is_production_manager %}
						<div class="ms-auto">
							<a href="{% url 'bulk_stock_transfer' %}" class="btn btn-primary me-2">Bulk Stock Transfer</a>
						</div>
					{% endif %}
					<p>These are the Main store transfers from the Production Site to the Livara Main store after Production.
					<hr class="mb-4">

					<!-- BEGIN #datatable -->
					<div class="table-responsive text-nowrap">
						<div class="card">
							<div class="card-body">
								<table id="datatableDefault" class="table text-nowrap w-100 table-responsive">
									<thead>
										<tr class="align-middle">
											<th class="border-top-0 pt-0 pb-2">#</th>
											<th class="border-top-0 pt-0 pb-2">Transfer No.</th>
											<th class="border-top-0 pt-0 pb-2 ">Create by:</th>
											<th class="border-top-0 pt-0 pb-2">Status</th>
                                            <th class="border-top-0 pt-0 pb-2">Action</th>
											<th class="border-top-0 pt-0 pb-2">Notes</th>
											<th class="border-top-0 pt-0 pb-2">Items Transfered</th>
							
										</tr>
									</thead>
									<tbody>
										{% for transfer in store_transfers %}
										<tr class="align-middle">
											<td class="align-middle">{{forloop.counter}}</td>
											<td>{{ transfer.liv_main_transfer_number }}</td>
											<td>{{ transfer.created_by }}</td>
                                            <td>{{ transfer.status }}</td>
                                            <td>
                                                {% if transfer.status == 'Pending' %}
                                                <a class="btn btn-primary" href="{% url 'mark_transfer_completed' transfer.id %}">Transfer Delivered</a>
                                                {% else %}
                                                <div class="text-theme">
                                                    <p>Transfer Successfull</p>
                                                </div>
                                                {% endif %}
                                            </td>
                                            <td>{{ transfer.date }}</td>
											
											<td class="align-middle span-1">
												<ul class="list-group">
                                                    {% for transfer_item in transfer.items.all %}
													<li class="list-group-item">
                                                        {{ transfer_item.product }} - <span class="badge rounded-pill bg-dark">{{ transfer_item.quantity }} units</span> 
                                                    </li>
                                                    {% empty %}
                                                        <li class="list-group-item">No transfer items found.</li>
													{% endfor %} 
												</ul>
											</td>
								
										</tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="4">No store transfers found.</td>
                                            </tr>
										{% endfor %}
									</tbody>
									
								</table>
							</div>
							<div class="card-arrow">
								<div class="card-arrow-top-left"></div>
								<div class="card-arrow-top-right"></div>
								<div class="card-arrow-bottom-left"></div>
								<div class="card-arrow-bottom-right"></div>
							</div>
							
						</div>
					</div>
				</div>
				<!-- END col-9-->
				
			</div>
		</div>
	</div>
</div>

	<!-- BEGIN container -->
	
	<!-- END container -->
{% endblock %}
{% block outter_content %}
<script>
$('#datatableDefault').DataTable({
	dom: "<'row mb-3'<'col-sm-4'l><'col-sm-8 text-end'<'d-flex justify-content-end'fB>>>t<'d-flex align-items-center mt-3'<'me-auto'i><'mb-0'p>>",
	lengthMenu: [ 10, 20, 30, 40, 50 ],
	responsive: true,
	buttons: [ 
	{ extend: 'print', className: 'btn btn-default' },
	{ extend: 'csv', className: 'btn btn-default' }
	]
});
</script>

{% if messages %}
    <div class="toasts-container">
        {% for message in messages %}
            <div class="toast fade show">
                <div class="toast-header">
                    <i class="far fa-bell text-muted me-2"></i>
                    <strong class="me-auto">Store Order Status</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
                </div>
                <div class="toast-body">
                    <p>{{ message }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

{% if form.errors %}  {% endif %}

{% endblock outter_content %}