{% extends 'base.html' %}

{% load static %}

{% block title %}Production Inventory{% endblock %}

{% block css %}
    <link href="{% static 'plugins/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/bootstrap-table/dist/bootstrap-table.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block js %}
    <script src="{% static 'plugins/@highlightjs/cdn-assets/highlight.min.js' %}"></script>
    <script src="{% static 'js/demo/highlightjs.demo.js' %}"></script>
    <script src="{% static 'plugins/datatables.net/js/dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'plugins/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'plugins/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'plugins/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-table/dist/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'js/demo/table-plugins.demo.js' %}"></script>
    <script src="{% static 'js/demo/sidebar-scrollspy.demo.js' %}"></script>
{% endblock %}
{% block content %}
    
        <!-- BEGIN container -->
        <div class="container">
            <!-- BEGIN row -->
            <div class="row justify-content-center">
                <!-- BEGIN col-10 -->
                <div class="col-xl-12">
                    <!-- BEGIN row -->
                    <div class="row">
                        <!-- BEGIN col-9 -->
                        <div class="col-xl-9">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">FACTORY STORE</a></li>
                                <li class="breadcrumb-item active">MANUFACTURED PRODUCTS</li>
                            </ul>
                            
                            <h1 class="page-header">
                                Production Inventory <small>page header description goes here...</small>
                            </h1>
                            
                            <hr class="mb-4">
                            
                            <!-- BEGIN #datatable -->
                            <div id="datatable" class="mb-5">
                                <div class="card">
                                    <div class="card-body">
                                        <table id="datatableDefault" class="table text-nowrap w-100">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Product Name</th>
                                                    <th>Qty bottles</th>
                                                    <th>Batch No.</th>
                                                    <th>Manufactured Date</th>
                                                    <th>view</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for product in manufactured_products %}
                                                <tr>
                                                    <td>{{ forloop.counter }}.</td>
                                                    <td>{{ product.product.product_name}}</td>
                                                    <td>{{product.quantity}} Btls</td>
                                                    <td>{{ product.batch_number}}</td>
                                                
                                                    <td>{{ product.manufactured_at}}</td>
                                                    
                                                    <td><a href="{% url 'manufacturedProductDetails' product.id  %}"><i class="bi bi-eye text-theme"></i></a></td>
                                                </tr>
                                                {% endfor %}
                                    
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="card-arrow">
                                        <div class="card-arrow-top-left"></div>
                                        <div class="card-arrow-top-right"></div>
                                        <div class="card-arrow-bottom-left"></div>
                                        <div class="card-arrow-bottom-right"></div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- END #datatable -->
                        </div>
                        <!-- END col-9-->
                        <!-- BEGIN col-3 -->
                        <div class="col-xl-3">
                            <!-- BEGIN #sidebar-bootstrap -->
                            <nav id="sidebar-bootstrap" class="navbar navbar-sticky d-none d-xl-block">
                                <nav class="nav">
                                    <a class="nav-link" href="#datatable" data-toggle="scroll-to">Product List</a>
                                    <a class="nav-link" href="{% url 'createProduct' %}">Roll Out New Product</a>
                                </nav>
                            </nav>
                            <!-- END #sidebar-bootstrap -->
                        </div>
                        <!-- END col-3 -->
                    </div>
                    <!-- END row -->
                </div>
                <!-- END col-10 -->
            </div>
            <!-- END row -->
        </div>
        <!-- END container -->
{% endblock %}