{% extends "base.html" %}
{% load humanize %}
{% block content %}

<div class="d-flex align-items-center mb-3">
    <div>
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">FINANCE</a></li>
            <li class="breadcrumb-item active">PRODUCTION OUTSTANDING PAYABLES</li>
        </ul>
        <h5 class="mb-0">
            All Outstanding Bills to pay
        </h5>
    <div>
</div>

<table class="table mt-4">
    <thead>
        <tr>
            <th>#</th>
            <th>LPO Number</th>
            <th>Supplier</th>
            <th>Total Cost(UGX)</th>
            <th>Amount Paid(UGX)</th>
            <th>Outstanding Balance(UGX)</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for lpo in unpaid_pos %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ lpo.lpo_number }}</td>
            <td>{{ lpo.requisition.supplier }}</td>
            <td>{{ lpo.requisition.total_cost|floatformat|intcomma }}</td>
            <td><span class="text-success">{{ lpo.amount_paid|floatformat|intcomma }}</span></td>
            <td><span class="text-danger">{{ lpo.outstanding_balance|floatformat|intcomma }}</span></td>
            <td>{{ lpo.get_status_display }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6"><i class="bi bi-check-circle-fill text-theme"></i> Production / Manufacturing Currently have no bills to pay</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
