{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block title %}Coming Soon{% endblock %}

{% block css %}
	<link href="{% static 'plugins/kbw-countdown/dist/css/jquery.countdown.css' %}" rel="stylesheet" />
{% endblock %}


{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-12">
            <div class="row">
                <div id="productDetails" class="col-xl-9">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">PRODUCTS</a></li>
                        <li class="breadcrumb-item active">Product Information</li>
                    </ul>
                    <h6>{{ product.product_name }} Details</h6>
                    <p>Total Volume: {{ product.total_volume }} {{ product.unit_of_measure }}</p>
                    <p>Product Price: <span class="text-theme">UGX {{ product.price|floatformat|intcomma }}</span></p>
                    
                    <h2>Raw Materials</h2>
                    {% if ingredients %}
                        <ul class="list-group">
                            {% for ingredient in ingredients %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            
                            {% if ingredient.raw_material.unit_measurement == 'Pieces'%}
                            {{ ingredient.raw_material.name|slice:"3" }}: {{ ingredient.quantity_per_unit_product_volume|floatformat:0 }} piece
                            {% elif ingredient.raw_material.unit_measurement == 'Kilograms' %}
                            {{ ingredient.raw_material.name|slice:"3" }}: {{ ingredient.quantity_per_unit_product_volume|floatformat:3 }} grams
                            {% elif ingredient.raw_material.unit_measurement == 'Liters' %}
                            {{ ingredient.raw_material.name|slice:"3" }}: {{ ingredient.quantity_per_unit_product_volume|floatformat:3 }} mls
                            {% elif ingredient.raw_material.unit_measurement == 'Litres' %}
                            {{ ingredient.raw_material.name|slice:"3" }}: {{ ingredient.quantity_per_unit_product_volume|floatformat:3 }} mls
                            {% elif ingredient.raw_material.unit_measurement == 'kgs' %}
                            {{ ingredient.raw_material.name|slice:"3" }}: {{ ingredient.quantity_per_unit_product_volume|floatformat:3 }} grams
                            {% endif %}
                            {% if ingredient.raw_material.name in excluded_materials %}
                                <span class="badge text-bg-danger rounded-pill">{{ ingredient.quantity_per_unit_product_volume }}</span>
                                {% else %}
                                <span class="badge text-bg-theme text-black rounded-pill">{{ ingredient.quantity_per_unit_product_volume }}</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                        </ul>
                    {% else %}
                        <p>No raw materials added yet.</p>
                        <a href="{% url 'editProduct' product.id %}" class="btn btn-primary">Add Raw Materials</a>
                    {% endif %}
                </div>
                <div class="col-xl-3">
                    <!-- BEGIN #sidebar-bootstrap -->
                    <nav id="sidebar-bootstrap" class="navbar navbar-sticky d-none d-xl-block">
                        <nav class="nav">
                            
                            <a class="nav-link" href="{% url 'productsList' %}">Product List</a>
                            <a class="nav-link active" href="#productDetails" data-toggle="scroll-to">Product Details</a>
                            <a class="nav-link" href="{% url 'editProduct' product.id %}">Edit Product Ingredients</a>
                        </nav>
                    </nav>
                    <!-- END #sidebar-bootstrap -->
                </div>
            </div>
        </div>
    </div>
</div>
    
	<!-- END coming-soon -->
{% endblock %}