{% extends 'base.html' %}
{% load static %}

{% block title %}Report{% endblock %}

{% block css %}
	<link href="{% static 'plugins/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/bootstrap-table/dist/bootstrap-table.min.css' %}" rel="stylesheet" />
    <link href="/assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
{% endblock %}

{% block js %}
    <script src="/assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
	<script src="{% static 'plugins/datatables.net/js/dataTables.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>
	<script src="{% static 'plugins/bootstrap-table/dist/bootstrap-table.min.js' %}"></script>
	<script src="{% static 'js/demo/table-plugins.demo.js' %}"></script>
	<script src="{% static 'js/demo/sidebar-scrollspy.demo.js' %}"></script>
{% endblock %}
{% block content %}
<form method="get" action="{% url 'raw_material_date_report' %}">
    <label for="date">Select Date:</label>
    <input type="date" id="date" name="date" value="{{ selected_date|date:'Y-m-d' }}">
    <button class="btn btn-theme" type="submit">Generate Report</button>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Raw Material</th>
            <th>Openning Stock</th>
            <th>Additions</th>
            <th>Deductions</th>
            <th>Closing Stock</th>
        </tr>
    </thead>
    <tbody>
        {% for material in raw_materials %}
            <tr>
                <td>{{ material.name }}</td>
                <td>{{ material.previous_stock }}</td>
                <td>
                    {% if material.additions > 0 %}
                        <span class="text-success">{{ material.additions }}</span>
                    {% else %}
                        0
                    {% endif %}
                </td>
                <td>
                    {% if material.deductions < 0 %}
                        <span class="text-danger">{{ material.deductions }}</span>
                    {% else %}
                        0
                    {% endif %}
                </td>
                <td>{{ material.closing_stock }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
