{% extends 'base.html' %}

{% load static %}

{% block title %}Coming Soon{% endblock %}

{% block css %}
	<link href="{% static 'plugins/kbw-countdown/dist/css/jquery.countdown.css' %}" rel="stylesheet" />
{% endblock %}

{% block js %}
	<script src="{% static 'plugins/kbw-countdown/dist/js/jquery.plugin.js' %}"></script>
	<script src="{% static 'plugins/kbw-countdown/dist/js/jquery.countdown.js' %}"></script>
	<script src="{% static 'js/demo/page-coming-soon.demo.js' %}"></script>
{% endblock %}

{% block content %}
	<!-- BEGIN coming-soon -->
	<div class="">
		<div class="flex-1">
			<div class="coming-soon-timer">
				<div id="timer"></div>
			</div>
			<!-- BEGIN coming-soon-content -->
			<div class="coming-soon-content d-flex flex-column">
				<div class="flex-1 mb-3">
					<h2 class="mb-3">We're coming soon!</h2>
					<p class="mb-4">We are working very hard on the new version of our site.<br> It will bring a lot of new features. Stay tuned!</p>
					<div class="input-group mb-2">
						<input type="text" class="form-control" placeholder="Email Address">
						<button type="submit" class="btn btn-outline-theme">SUBSCRIBE</button>
					</div>
					<div class="mb-1 small text-inverse text-opacity-50">* Subscribe and get notified for latest news</div>
				</div>
				<div class="text-center small text-inverse text-opacity-50">
					&copy; 2024 Livara Right Reserved
				</div>
			</div>
			<!-- END coming-soon-content -->
            <h2>Create Production Recipe</h2>

            <form method="post">
            {% csrf_token %}
                <label for="product_name">Product Name:</label>
                <input type="text" name="product_name" id="product_name" required>
                <br>
                <label for="total_volume">Total Volume (ml):</label>
                <input type="number" name="total_volume" id="total_volume" step="0.01" required>
                <br>
                <h3>Ingredients</h3>
                {% for raw_material in raw_materials %}
                    <label for="ingredient_{{ raw_material.id }}">{{ raw_material.name }}</label>
                    <input type="number" name="ingredient_{{ raw_material.id }}" id="ingredient_{{ raw_material.id }}" step="0.001" required> (ml per unit recipe volume)
                    <br>
            {% endfor %}
                <br>
                <button type="submit">Create Recipe</button>
            </form>
		</div>
	</div>
	<!-- END coming-soon -->
{% endblock %}