{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% load custom_filters %}


{% block title %}Requisition Details{% endblock %}
{% block css %}
	<link href="{% static 'plugins/tag-it/css/jquery.tagit.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/bootstrap-slider/dist/css/bootstrap-slider.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/blueimp-file-upload/css/jquery.fileupload.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/summernote/dist/summernote-lite.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/spectrum-colorpicker2/dist/spectrum.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/select-picker/dist/picker.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/jquery-typeahead/dist/jquery.typeahead.min.css' %}" rel="stylesheet" />
    <link href="/assets/plugins/select-picker/dist/picker.min.css" rel="stylesheet">
    
    
{% endblock %}

{% block js %}
   
	<script src="{% static 'plugins/jquery-migrate/dist/jquery-migrate.min.js' %}"></script>
	<script src="{% static 'plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
	<script src="{% static 'plugins/moment/min/moment.min.js' %}"></script>
	<script src="{% static 'plugins/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
	<script src="{% static 'plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js' %}"></script>
	<script src="{% static 'plugins/bootstrap-slider/dist/bootstrap-slider.min.js' %}"></script>

	<script src="{% static 'js/demo/sidebar-scrollspy.demo.js' %}"></script>
{% endblock %}

{% block content %}

<div class="d-flex align-items-center mb-3">
	<div>
		<ul class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">REQUISITION</a></li>
			<li class="breadcrumb-item active">DETAILS</li>
		</ul>
		
	</div>
	
</div>
<div class="mb-md-4 mb-3 d-md-flex">
    <div class="mt-md-0 mt-2"><button class="btn btn-secondary btn-sm" onclick="printSpecificSection()"><i class="fa fa-download fa-fw me-1 text-theme"></i> Print Requisition</button></div>
    
</div>
<div class="nav-wizards-container">
    <nav class="nav nav-wizards-1 mb-2">
        <!-- Waiting Approval -->
        <div class="nav-item col">
            <a class="nav-link {% if requisition.status == 'created' %} active{% elif requisition.status == 'checking' or requisition.status == 'delivered' %} completed{% else %} disabled{% endif %}" href="#">
                <div class="nav-no">1</div>
                <div class="nav-text">Waiting Approval</div>
            </a>
        </div>
    
        <!-- Quality Assurance and Checking -->
        <div class="nav-item col">
            <a class="nav-link {% if requisition.status == 'checking' %} active{% elif requisition.status == 'delivered' %} completed{% elif requisition.status == 'created' %} disabled{% endif %}" href="#">
                <div class="nav-no">2</div>
                <div class="nav-text">Checking</div>
            </a>
        </div>
    
        <!-- Delivered to Store -->
        <div class="nav-item col">
            <a class="nav-link {% if requisition.status == 'delivered' %} active{% elif requisition.status == 'created' or requisition.status == 'checking' %} disabled{% endif %}" href="#">
                <div class="nav-no">3</div>
                <div class="nav-text">Delivered to Store</div>
            </a>
        </div>
    </nav>
</div>
<div class="card">
    <div class="card-body pb-2">
        <div id="print-section">
            <h5>Requisition Details</h5>
        
            <small class="text-theme">Requisition Information</small>
            <p><strong>Requisition No:</strong> {{ requisition.requisition_no }}</p>
            <p><strong>Supplier:</strong> {{ requisition.supplier.name }}</p>
            <p><strong>Status:</strong> {{ requisition.get_status_display }}</p>
            <p><strong>Date Created:</strong> {{ requisition.created_at }}</p>
            <p><strong>Last Updated:</strong> {{ requisition.updated_at }}</p>
            
            <h5>Items</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th>Raw Material</th>
                        <th>Quantity</th>
                        <th>Unit Measurement</th>
                        <th>Price per Unit</th>
                        <th>Total Cost (UGX)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in requisition_items %}
                    <tr>
                        <td>{{ item.raw_material.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.raw_material.unit_measurement }}</td>
                        <td>{{ item.price_per_unit|floatformat|intcomma }}</td>
                        <td>{{ item.quantity|multiply:item.price_per_unit|floatformat|intcomma }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            <h4 class="mt-5">Total Cost: UGX
                {{ total_cost|floatformat|intcomma }}</h4>
            </h4>
        </div>
        
    
        <a href="{% url 'all_requisitions' %}">Back to Requisitions</a>
        <div class="mb-4 mt-4">
            {% if user_is_finance and requisition.status == 'created' %}
                <form method="post" action="{% url 'approve_requisition' requisition.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Approve Requisition</button>
                </form>
            {% endif %}
            <div class="mb-4 mt-4">
                {% if requisition.status == 'checking' %}
                    <form method="post" action="{% url 'process_del' requisition.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-dark">Process Delivery</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </body>
    </div>
    <div class="card-arrow">
        <div class="card-arrow-top-left"></div>
        <div class="card-arrow-top-right"></div>
        <div class="card-arrow-bottom-left"></div>
        <div class="card-arrow-bottom-right"></div>
    </div>

</div>

{% endblock %}
{% block outter_content %}
{% if messages %}
    <div class="toasts-container">
        {% for message in messages %}
            <div class="toast fade show">
                <div class="toast-header">
                    <i class="far fa-bell text-muted me-2"></i>
                    <strong class="me-auto">Info</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
                </div>
                <div class="toast-body">
                    <p>{{ message }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const supplierSelect = document.getElementById('supplier_select');
        const rawMaterialSelect = document.getElementById('id_raw_material');
        
        supplierSelect.addEventListener('change', function() {
            const supplierId = supplierSelect.value;
            fetch(`/get_raw_materials/?supplier_id=${supplierId}`)
                .then(response => response.json())
                .then(data => {
                    rawMaterialSelect.innerHTML = '';
                    data.raw_materials.forEach(rawMaterial => {
                        const option = document.createElement('option');
                        option.value = rawMaterial.id;
                        option.textContent = `${rawMaterial.name} (${rawMaterial.unit_measurement})`;
                        rawMaterialSelect.appendChild(option);
                    });
                });
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        console.log("Document ready and initializing selectpicker");
        $('.selectpicker').selectpicker();
    });
</script>
{% if form.errors %}
    <div class="toasts-container">
        <div class="toast fade show">
            <div class="toast-header">
                <i class="far fa-bell text-muted me-2"></i>
                <strong class="me-auto">Form Validation Error</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
            </div>
            <div class="toast-body">
                {% for field, error_msgs in form.errors.items %}
                    {% for error_msg in error_msgs %}
                    <ul>
                        <li>{{ error_msg }}</li>
                    </ul>
                        
                        <br>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
<script>
    function printSpecificSection() {
        // Get the content to print
        var printContents = document.getElementById('print-section').innerHTML;

        // Open a new window for the print
        var originalContents = document.body.innerHTML;

        // Set the body to only contain the print content
        document.body.innerHTML = printContents;

        // Trigger the print dialog
        window.print();

        // Restore the original content after printing
        document.body.innerHTML = originalContents;
    }
</script>
{% endblock outter_content %}


{% if messages %}
    <div class="toasts-container">
        {% for message in messages %}
            <div class="toast fade show">
                <div class="toast-header">
                    <i class="far fa-bell text-muted me-2"></i>
                    <strong class="me-auto">Info</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
                </div>
                <div class="toast-body">
                    <p>{{ message }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}


