{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% load custom_filters %}


{% block title %}Requisition Details{% endblock %}
{% block css %}
	<link href="{% static 'plugins/tag-it/css/jquery.tagit.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/bootstrap-slider/dist/css/bootstrap-slider.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/blueimp-file-upload/css/jquery.fileupload.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/summernote/dist/summernote-lite.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/spectrum-colorpicker2/dist/spectrum.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/select-picker/dist/picker.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/jquery-typeahead/dist/jquery.typeahead.min.css' %}" rel="stylesheet" />
    <link href="/assets/plugins/select-picker/dist/picker.min.css" rel="stylesheet">
    
    
{% endblock %}

{% block js %}
   
	<script src="{% static 'plugins/jquery-migrate/dist/jquery-migrate.min.js' %}"></script>
	<script src="{% static 'plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
	<script src="{% static 'plugins/moment/min/moment.min.js' %}"></script>
	<script src="{% static 'plugins/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
	<script src="{% static 'plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js' %}"></script>
	<script src="{% static 'plugins/bootstrap-slider/dist/bootstrap-slider.min.js' %}"></script>

	<script src="{% static 'js/demo/sidebar-scrollspy.demo.js' %}"></script>
{% endblock %}

{% block content %}
<h1>Restock Request Details</h1>

    <p><strong>Transfer Number:</strong> {{ restock_request.liv_store_transfer_number }}</p>
    <p><strong>Requested By:</strong> {{ restock_request.requested_by }}</p>
    <p><strong>Request Date:</strong> {{ restock_request.request_date }}</p>
    <p><strong>Status:</strong> {{ restock_request.status }}</p>

    <h2>Items:</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Requested Quantity</th>
                <th>Approved Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for item in restock_request.items.all %}
            <tr>
                <td>{{ item.product }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.approved_quantity }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'restockRequests' %}">Back to Requests</a>
    {% endblock content %}