{% extends 'base.html' %}

{% block content %}
<div class="d-flex align-items-center mb-3">
    <div>
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">ACCESSORY INVENTORY</a></li>
            <li class="breadcrumb-item active">STOCK ADJUSTMENT</li>
        </ul>
        <h5>Accessory Inventory Adjustment Report for all our stores</h5>
    </div>
    
   
</div>
<div class="container">
    <h1>Accessory Inventory Report</h1>

    <form method="get" class="mb-4">
        <div class="row">
            <div class="col-md-4">
                <label for="store">Select Store:</label>
                <select name="store" id="store" class="form-control">
                    <option value="">-- Select Store --</option>
                    {% for store in stores %}
                        <option value="{{ store.id }}" {% if store.id == selected_store.id %}selected{% endif %}>
                            {{ store.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <label for="date">Select Date:</label>
                <input type="date" name="date" id="date" class="form-control" value="{{ selected_date|date:'Y-m-d' }}">
            </div>
            <div class="col-md-4">
                <label>&nbsp;</label>
                <button type="submit" class="btn btn-primary w-100">Generate Report</button>
            </div>
        </div>
    </form>

    {% if selected_store and selected_date %}
        <h2>Report for {{ selected_store.name }} on {{ selected_date|date:"Y-m-d" }}</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Accessory</th>
                    <th>Opening Stock</th>
                    <th>Adjustments</th>
                    <th>Closing Stock</th>
                </tr>
            </thead>
            <tbody>
                {% for item in opening_stock %}
                    <tr>
                        <td>{{ item.accessory.name }}</td>
                        <td>{{ item.opening_quantity|default:0 }}</td>
                        <td>
                            {% with adjustments|dictsort:"store_inventory.accessory.name" as adj %}
                                {{ adj|get:item.accessory.name }}
                            {% endwith %}
                        </td>
                        <td>{{ closing_stock[item.accessory.name]|default:0 }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Please select a store and date to generate the report.</p>
    {% endif %}
</div>
{% endblock %}


