{% extends 'base.html' %}

{% load static %}

{% block title %}Saloon Restock Requests{% endblock %}

{% block css %}
	<link href="{% static 'plugins/tag-it/css/jquery.tagit.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet">
	<link href="{% static 'plugins/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}" rel="stylesheet">
	<link href="{% static 'plugins/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
	<script src="{% static 'plugins/jquery-migrate/dist/jquery-migrate.min.js' %}"></script>
	<script src="{% static 'plugins/tag-it/js/tag-it.min.js' %}"></script>
	<script src="{% static 'js/demo/page-scrum-board.demo.js' %}"></script>
	<script src="{% static 'plugins/datatables.net/js/dataTables.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>
{% endblock %}

{% block content %}
	<div class="d-flex align-items-center mb-md-3 mb-2">
		<div class="flex-fill">
			<ul class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">RESTOCK REQUESTS</a></li>
				<li class="breadcrumb-item active">RESTOCK SALON</li>
			</ul>

			<h5 class="mb-0">
				All Restock Requests from Livara Main Store
			</h5>
		</div>
        {% if user_is_salon_manager %}
		<div class="ms-auto">
			<a href="{% url 'create_salon_restock_requests' %}" class="btn btn-outline-theme"><i class="fa fa-plus-circle me-1"></i> Restock Salon</a>
		</div>
        {% endif %}
	</div>

	<div class="mb-md-4 mb-3 d-md-flex">
		<div class="ms-md-4 mt-md-0 mt-2"><i class="far fa-clock fa-fw fa-lg me-1 text-theme"></i> Import requests</div>
		<div class="ms-md-4 mt-md-0 mt-2"><i class="far fa-clock fa-fw fa-lg me-1 text-theme"></i> Export requests</div>
	</div>

	<!-- BEGIN row -->
	<div class="table-responsive text-nowrap">
		<div class="card">
			<div class="card-body">
				<table id="datatableDefault" class="table text-nowrap w-100 table-responsive">
					<thead>
						<tr class="align-middle">
							<th class="border-top-0 pt-0 pb-2">#</th>
							<th class="border-top-0 pt-0 pb-2 ">Salon</th>
							<th class="border-top-0 pt-0 pb-2">Status</th>
							<th class="border-top-0 pt-0 pb-2">Action</th>
							<th class="border-top-0 pt-0 pb-2">Notes</th>
							<th class="border-top-0 pt-0 pb-2">Items Transfered</th>
                            <th>View</th>
			
						</tr>
					</thead>
					<tbody>
						{% for request in restock_requests %}
						<tr class="align-middle">
							<td class="align-middle">{{forloop.counter}}</td>
							<td>{{ request.salon.name }}</td>
							<td>
                                {{ request.status }}
                            </td>
							<td>
								{{ request.request_date}}
							</td>
							<td>{{ request.comments }}</td>
							
							<td class="align-middle span-1">
								<ul class="list-group">
									{% for request_item in request.items.all %}
									<li class="list-group-item">
										{{ request_item.product }} - <span class="badge rounded-pill bg-dark">{{ request_item.quantity }} units</span> 
									</li>
									{% empty %}
										<li class="list-group-item">No transfer items found.</li>
									{% endfor %} 
								</ul>
							</td>
                            <td>
                                <a href="{% url 'restock_request_detail' request.salon_restock_req_no %}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            </td>
				
						</tr>
						{% empty %}
							<tr>
								<td colspan="4">No store transfers found.</td>
							</tr>
						{% endfor %}
					</tbody>
					
				</table>
			</div>
			<div class="card-arrow">
				<div class="card-arrow-top-left"></div>
				<div class="card-arrow-top-right"></div>
				<div class="card-arrow-bottom-left"></div>
				<div class="card-arrow-bottom-right"></div>
			</div>
			
		</div>
	</div>
	<!-- END row -->
	
    
{% endblock %}


{% block outter_content %}
<script>
	$('#datatableDefault').DataTable({
	  dom: "<'row mb-3'<'col-sm-4'l><'col-sm-8 text-end'<'d-flex justify-content-end'fB>>>t<'d-flex align-items-center mt-3'<'me-auto'i><'mb-0'p>>",
	  lengthMenu: [ 10, 20, 30, 40, 50 ],
	  responsive: true,
	  buttons: [ 
		{ extend: 'print', className: 'btn btn-default' },
		{ extend: 'csv', className: 'btn btn-default' }
	  ]
	});
</script>

    <!-- BEGIN row -->
    
	<!-- BEGIN modal -->

	<!-- END modal -->
    {% if messages %}
        <div class="toasts-container">
            {% for message in messages %}
                <div class="toast fade show">
                    <div class="toast-header">
                        <i class="far fa-bell text-muted me-2"></i>
                        <strong class="me-auto">Actions</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
                    </div>
                    <div class="toast-body">
                        <p>{{ message }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    
    {% if form.errors %}  {% endif %}

{% endblock outter_content%}