{% extends 'base.html' %}

{% load static %}

{% block title %}Livara Tech{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}

{% block content %}
	<ul class="breadcrumb">
		<li class="breadcrumb-item"><a href="#">BREADCRUMB</a></li>
		<li class="breadcrumb-item active">Livara Tech</li>
	</ul>
	
	<h1 class="page-header">
		Welcome To Livara <small>Management Software</small>
	</h1>
	
	<p>
		Please Login using your account credentials and get Started.
	</p>
{% endblock %}