{% extends 'base.html' %}

{% load static %}

{% block title %}Order Details{% endblock %}

{% block content %}
	<div class="d-flex align-items-center mb-3">
		<div>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="javascript:;">PAGES</a></li>
				<li class="breadcrumb-item active">ORDER DETAILS</li>
			</ol>
			<h1 class="page-header mb-0">Order Details</h1>
		</div>
	</div>
	
	<div class="mb-3 d-md-flex fw-bold">
		<div class="mt-md-0 mt-2"><a href="#" class="text-decoration-none text-inverse"><i class="bi bi-printer fa-fw me-1 text-inverse text-opacity-50"></i> Print</a></div>
		<div class="ms-md-4 mt-md-0 mt-2"><a href="#" class="text-decoration-none text-inverse"><i class="bi bi-boxes fa-fw me-1 text-inverse text-opacity-50"></i> Restock items</a></div>
		<div class="ms-md-4 mt-md-0 mt-2"><a href="#" class="text-decoration-none text-inverse"><i class="bi bi-pen fa-fw me-1 text-inverse text-opacity-50"></i> Edit</a></div>
		<div class="ms-md-4 mt-md-0 mt-2 dropdown-toggle">
			<a href="#" data-bs-toggle="dropdown" class="text-decoration-none text-inverse"><i class="bi bi-gear fa-fw me-1 text-inverse text-opacity-50"></i> More Actions</a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="#">Action</a>
				<a class="dropdown-item" href="#">Another action</a>
				<a class="dropdown-item" href="#">Something else here</a>
				<div role="separator" class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">Separated link</a>
			</div>
		</div>
	</div>
	<div class="row gx-4">
		<div class="col-lg-8">
			<div class="card mb-4">
				<div class="card-header d-flex align-items-center bg-inverse bg-opacity-10 fw-400">
					Items in Order {{ transaction.products.count }}
					<a href="#" class="ms-auto text-decoration-none text-inverse text-opacity-50"><i class="bi bi-truck fa-lg me-1"></i> Add Tracking Link</a>
				</div>
				{% for product in transaction.products.all %}
				<div class="card-body text-inverse">
					<div class="row align-items-center">
						<div class="col-lg-8 d-flex align-items-center">
							<div class="h-65px w-65px d-flex align-items-center justify-content-center position-relative bg-white p-1">
								<img src="{{ product.image.url }}" alt="" class="mw-100 mh-100">
								<span class="w-20px h-20px p-0 d-flex align-items-center justify-content-center badge bg-theme text-theme-color position-absolute end-0 top-0 fw-bold fs-12px rounded-pill mt-n2 me-n2">{{ forloop.counter }}</span>
							</div>
							<div class="ps-3 flex-1">
								<div><a href="#" class="text-decoration-none text-inverse">{{ product.name}}</a></div>
								<div class="text-inverse text-opacity-50 small">
									SKU: EMRLD-512
								</div>
							</div>
						</div>
						<div class="col-lg-2 m-0 ps-lg-3">
							{{ product.price}}
						</div>
						<div class="col-lg-2 m-0 text-end">
							
						</div>
					</div>
				</div>
				{% endfor%}
				<div class="card-arrow">
					<div class="card-arrow-top-left"></div>
					<div class="card-arrow-top-right"></div>
					<div class="card-arrow-bottom-left"></div>
					<div class="card-arrow-bottom-right"></div>
				</div>
			</div>
			<div class="card">
				<div class="card-header d-flex align-items-center bg-inverse bg-opacity-10 fw-400">
					Payment Records
					<a href="#" class="ms-auto text-decoration-none text-inverse text-opacity-50"><i class="bi bi-paypal me-1 fa-lg"></i> View paypal records</a>
				</div>
				<div class="card-body">
					<table class="table table-borderless table-sm m-0">
						<tbody>
							<tr>
								<td class="w-150px">Subtotal</td>
								<td>{{ transaction.products.count }}</td>
								<td class="text-end">{{ transaction.total_amount }}</td>
							</tr>
							<tr>
								<td>Tax</td>
								<td>GST 0%</td>
								<td class="text-end">0</td>
							</tr>
							
							<tr>
								<td class="pb-2" colspan="2"><b>Total</b></td>
								<td class="text-end pb-2 text-decoration-underline"><b>UGX {{ transaction.total_amount }}</b></td>
							</tr>
							
						</tbody>
					</table>
				</div>
				<div class="card-footer bg-none d-flex p-3">
					<a href="#" class="btn btn-outline-theme ms-auto">Edit Order Details</a>
				</div>
				<div class="card-arrow">
					<div class="card-arrow-top-left"></div>
					<div class="card-arrow-top-right"></div>
					<div class="card-arrow-bottom-left"></div>
					<div class="card-arrow-bottom-right"></div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="card mb-4">
				<div class="card-header d-flex align-items-center bg-inverse bg-opacity-10 fw-400">
					Staff in-charge of Order
					
				</div>
				<div class="card-body fw-bold">
					<div class="d-flex align-items-center">
						<a href="#" class="d-block"><img src="{% static 'img/user/user-1.jpg' %}" alt="" width="45" class="rounded-pill"></a>
						<div class="flex-1 ps-3">
							<a href="#" class="d-block text-decoration-none">{{ transaction.staff }}</a>
							<p>{{ transaction.staff.specialization }}</p>
							<div class="align-items-center fw-400">
								Contact: {{ transaction.staff.phone }}
								
							</div>
							Branch: {{ transaction.branch}}
							
						</div>
						
					</div>
				</div>
				<div class="card-arrow">
					<div class="card-arrow-top-left"></div>
					<div class="card-arrow-top-right"></div>
					<div class="card-arrow-bottom-left"></div>
					<div class="card-arrow-bottom-right"></div>
				</div>
			</div>
			<div class="card mb-4">
				<div class="card-header d-flex align-items-center bg-inverse bg-opacity-10 fw-400">
					Order Status
					<a href="#" class="ms-auto text-decoration-none text-inverse text-opacity-50">Edit</a>
				</div>
				<div class="card-body fw-bold">
					<div class="d-flex align-items-center">
						<td class="py-1 align-middle"><span class="badge border border-success text-success px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center"><i class="fa fa-circle fs-9px fa-fw me-5px"></i> {{ transaction.status}}</span></td>
					</div>
				</div>
				<div class="card-arrow">
					<div class="card-arrow-top-left"></div>
					<div class="card-arrow-top-right"></div>
					<div class="card-arrow-bottom-left"></div>
					<div class="card-arrow-bottom-right"></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}