{% extends 'base.html' %}

{% load static %}

{% block title %}Error Page{% endblock %}

{% block content %}
	<!-- BEGIN error -->
	<div class="error-page">
		<!-- BEGIN error-page-content -->
		<div class="error-page-content">
			<div class="card mb-5 mx-auto" style="max-width: 320px;">
				<div class="card-body">
					<div class="card">
						<div class="error-code">404</div>
						<div class="card-arrow">
							<div class="card-arrow-top-left"></div>
							<div class="card-arrow-top-right"></div>
							<div class="card-arrow-bottom-left"></div>
							<div class="card-arrow-bottom-right"></div>
						</div>
					</div>
				</div>
				<div class="card-arrow">
					<div class="card-arrow-top-left"></div>
					<div class="card-arrow-top-right"></div>
					<div class="card-arrow-bottom-left"></div>
					<div class="card-arrow-bottom-right"></div>
				</div>
			</div>
			<h1>Oops!</h1> 
			<h3>We can't seem to find the page you're looking for</h3>
			<hr>
			<p class="mb-1">
				Here are some helpful links instead:
			</p>
			<p class="mb-5">
				<a href="{% url 'POSMagicApp:index' %}" class="text-decoration-none text-inverse text-opacity-50">Home</a>
				<span class="link-divider"></span>
				<a href="{% url 'POSMagicApp:pageSearchResults' %}" class="text-decoration-none text-inverse text-opacity-50">Search</a>
				<span class="link-divider"></span>
				<a href="{% url 'POSMagicApp:emailInbox' %}" class="text-decoration-none text-inverse text-opacity-50">Email</a>
				<span class="link-divider"></span>
				<a href="{% url 'POSMagicApp:calendar' %}" class="text-decoration-none text-inverse text-opacity-50">Calendar</a>
				<span class="link-divider"></span>
				<a href="{% url 'POSMagicApp:settings' %}" class="text-decoration-none text-inverse text-opacity-50">Settings</a>
				<span class="link-divider"></span>
				<a href="{% url 'POSMagicApp:helper' %}" class="text-decoration-none text-inverse text-opacity-50">Helper</a>
			</p>
			<a href="javascript:window.history.back();" class="btn btn-outline-theme px-3 rounded-pill"><i class="fa fa-arrow-left me-1 ms-n1"></i> Go Back</a>
		</div>
		<!-- END error-page-content -->
	</div>
	<!-- END error -->
{% endblock %}